@{
    ViewBag.Title = "Home Page";
}
<!-- our class -->
<div class="class">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Web site học tiếng anh miễn phí</h2>
                    <p>Giúp bạn có thể cải thiện được khả năng tiếng anh của mình thông qua việc học tập tại Website hoàn toàn miễn phí</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center" style="min-height: 550px; max-height: 550px;">
                    <i><img src="~/images/study.png" alt="#" /></i>
                    <h3>Kiến thức</h3>
                    <p>Cung cấp các kiến thức phổ biến và được áp dụng nhiều trong tiếng anh</p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box blue text_align_center" style="min-height: 550px; max-height: 550px;">
                    <i><img src="~/images/book-stack.png" alt="#" /></i>
                    <h3>Luyện tập</h3>
                    <p>Luyện tập các kiến thức đã học thông qua các kỳ thi và bài kiểm tra</p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
            <div class="col-md-4 margi_bottom">
                <div class="class_box text_align_center" style="min-height: 550px; max-height: 550px;">
                    <i><img src="~/images/diversity.png" alt="#" /></i>
                    <h3>Khóa học</h3>
                    <p>Tự tạo khóa học cho riêng mình và cho tham gia các khóa học của người khác để có thể giao lưu và rèn luyện bản thân </p>
                </div>
                <a class="read_more" href="Javascript:void(0)">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- end our class -->
<!-- about -->
<div class="about">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>Tại sao <br>phải <br> học tiếng anh</h2>
                    <p>
                        Tiếng Anh là một trong những ngôn ngữ quốc tế quan trọng nhất trên thế giới và có tầm quan trọng không chỉ trong việc giao tiếp mà còn trong nhiều khía cạnh khác của cuộc sống. Dưới đây là một số điểm về tầm quan trọng của tiếng Anh:
                    </p>
                    <p>
                        1.	Giao tiếp quốc tế: Tiếng Anh là một trong những ngôn ngữ phổ biến nhất trên thế giới,
                        được sử dụng trong giao tiếp quốc tế, kỹ thuật, thương mại, và nhiều lĩnh vực khác.
                        Nó giúp bạn kết nối và giao tiếp với người từ nhiều quốc gia khác nhau.
                    </p>
                    <p>
                        2.	Cơ hội nghề nghiệp: Tiếng Anh thường được yêu cầu trong nhiều công việc và ngành nghề.
                        Nó mở ra nhiều cơ hội nghề nghiệp và giúp bạn tham gia vào các dự án quốc tế.
                    </p>
                    <p>
                        3.	Học tập và nghiên cứu: Nếu bạn muốn học tại các trường đại học hàng đầu trên thế giới hoặc
                        tham gia vào cộng đồng nghiên cứu toàn cầu,
                        tiếng Anh là một yếu tố quan trọng để hiểu và tham gia vào kiến thức và thông tin mới nhất.
                    </p>
                    <p>
                        4.	Cổ điển văn học và nghệ thuật: Nhiều tác phẩm văn học, phim ảnh,
                        âm nhạc và nghệ thuật hàng đầu được sáng tác bằng tiếng Anh.
                        Hiểu và thụ động văn hóa này dễ dàng hơn nếu bạn biết tiếng Anh.
                    </p>
                    <p>
                        5.	Kết nối qua internet và truyền thông: Hầu hết các tài liệu trực tuyến và
                        nội dung truyền hình quốc tế đều sử dụng tiếng Anh.
                        Việc biết tiếng Anh giúp bạn tiếp cận thông tin và giải trí trên internet dễ dàng hơn.
                    </p>
                    <p>
                        6.	Tích hợp xã hội và văn hóa: Tiếng Anh có thể giúp bạn tương tác và tham gia vào cộng đồng quốc tế,
                        hiểu về văn hóa và giá trị của người khác.
                        Điều này đóng vai trò quan trọng trong việc xây dựng mối quan hệ và cầu nối giữa các quốc gia.
                    </p>
                    <p>
                        7.	Tăng khả năng học ngôn ngữ khác: Nếu bạn đã học tiếng Anh,
                        việc học thêm các ngôn ngữ khác thường trở nên dễ dàng hơn,
                        vì tiếng Anh thường có nhiều nguồn tài liệu học tập và tài liệu dịch thuận tiện.
                    </p>
                    <div class="link_btn">
                        <a class="read_more" href="about.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img text_align_center">
                    <figure><img src="~/images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- Video -->
<div class="skating">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Skating  Video</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="skating-box">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/HaoFXguJm_c?si=9eZz3L7R1eRcEgMB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="link_btn">
                        <a class="read_more" href="Javascript:void(0)">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skating-box">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/ubuR2U3fyWE?si=Z3GIsMuhg9qF9THs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="link_btn">
                        <a class="read_more" href="Javascript:void(0)">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skating-box">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/gvtKHz7MWpo?si=W-gez3Z820ECAhJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="link_btn">
                        <a class="read_more" href="Javascript:void(0)">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end skating -->
<!-- shop -->
<div class="shop">
    <div class="container-fluid">
        <div class="row d_flex d_grid">
            <div class="col-md-7">
                <div class="shop_img text_align_center" data-aos="fade-right">
                    <figure><img class="img_responsive" src="images/shop.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-5 order_1_mobile">
                <div class="titlepage text_align_left ">
                    <h2>Our  Skate <br>Shop</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variatioThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alterationThere are many variationsns
                    </p>
                    <a class="read_more" href="shop.html">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end shop -->
<!-- testimonial -->
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlepage text_align_center">
                    <h2>Testimonial</h2>
                </div>
            </div>
        </div>
        <!-- start slider section -->
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box white_bg text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p> humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container-fluid">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test3.png" alt="#" /></span>
                                                <h4>Disol</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="test_box  white_bg text_align_center">
                                                <span><img src="images/test1.png" alt="#" /></span>
                                                <h4>Jone Lo</h4>
                                                <img class="img_responsive" src="images/te2.png" alt="#" />
                                                <p> humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="test_box text_align_center">
                                                <span><img src="images/test2.png" alt="#" /></span>
                                                <h4>Michale</h4>
                                                <img class="img_responsive" src="images/te.png" alt="#" />
                                                <p>humour, or randomised words which don't look even slightly believable. If you are</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Slider{
    <div class="slider_main">
        <div class="container-fluid">
            <div class="row" style="background-color: black; height: auto">
                <div class="col-md-12">
                    carousel code
                    <div id="carouselExampleIndicators" class="carousel slide">

                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            first slide
                            <div class="carousel-item active">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="~/images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Skating<br> Board<br> School
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More   <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/images/banner_img.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            second slide
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="~/images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Skating<br> Board<br> School
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More   <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/images/banner_img.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            third slide
                            <div class="carousel-item">
                                <div class="carousel-caption relative">
                                    <div class="row d_flex">
                                        <div class="col-md-5">
                                            <div class="board">
                                                <i><img src="~/images/top_icon.png" alt="#" /></i>
                                                <h3>
                                                    Skating<br> Board<br> School
                                                </h3>
                                                <div class="link_btn">
                                                    <a class="read_more" href="Javascript:void(0)">Read More   <span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="banner_img">
                                                <figure><img class="img_responsive" src="~/images/banner_img.png"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        controls
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}